.cont_image {
  background-color: #323232ff;
}
.cont_skills {
  background-color: #9dc6ecff;
}

.title_name {
  color: #9dc6ecff;
}

.color_font {
  color: #323232ff;
}

.links {
  color: #004aadff;
}
